.profile-item{

    background:#ffffff;

    padding:20px;

    border-radius:15px;

    margin-bottom:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.profile-item:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}
.info-card{

    background:#fff;

    padding:25px;

    border-radius:18px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.info-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(0,0,0,.15);

}
.card{

    border:none;

    border-radius:22px;

}
body{

    background:#f4f7fb;

}